<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src='todo.js'></script>
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h1>Todo</h1>
    <div ng-controller='TodoCtrl'>
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click='clearDone()'>clear done</a> ]
      <ul>
        <li ng-repeat='todo in todos'>
          <label>
            <input type="checkbox" ng-click="save()" ng-model='todo.done'/>
            <span class='done-{{todo.done}}'>{{todo.text}}</span>
          </label>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" 
               ng-model="todoText" 
               size=30
               placeholder="I have to...">
      </form>
      <p>Using local storage, the data in this angular app persists through a page refresh.</p>
    </div>
  </body>
</html>