.done-true {
  text-decoration: line-through;
  color: grey;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body{
	font-family: 'Open Sans';
}

h1, h2, h3 {
	font-weight:100;
}

label{
	font-weight:400;
	background:#D9EDF7;
	display:block;
	color:#3A87AD;
	padding:.5em 1em;
	margin:5px 0;
}

body{
	width:400px;
	margin:auto;
}

input{
	border:1px solid #D9EDF7;
	outline: none;
	display: block;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font:inherit;
	font-size:1em;
	padding:.5em 1em;
	padding-left:2.65em;
}
input[type='checkbox']{
	display:inline;
	width:auto;
}

ul,li,ol{
	list-style:none;
	padding:0;
	margin:0;
}

ul{
	margin-top:1em;
}